<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Credits and information about the website conroyiwhiwhu.github.io, the personal website for Conroy Iwhiwhu, an Engineer, Project Manager, and Front-End (and Python)Programmer living and working in Bristol, United Kingdom.">
    <meta name="author" content="Conroy Iwhiwhu">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84741604-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-84741604-1');
</script>

<!-- End Google Analytics -->

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:conroy.iwhiwhu@gmail.com" id="linkid2">email</a></li>
            <li><a href="https://github.com/conroyiwhiwhu" id="linkid3">github.com/conroyiwhiwhu</a></li>
        </ul>
    </footer>
</body>

</html>
